@import "compass";
@import "mixins";
@import "constants";

#error {
	color: white;
	font-size: 1.5em;
	line-height: 1.4;
	padding: 0.5em 1em;
	text-align: center;
	background-color: $color-hover;
	@include text-shadow(1px 1px 0 fade-out(black, 0.5));
	position: fixed;
	z-index: 98;
	top: 0;
	left: 0;
	width: 100%;
	@include translateY(-100%);
	@include box-shadow(0 0 0 0 fade-out(black, 1));
	@include transition(transform 500ms, box-shadow 500ms);
	&.open {
		@include translateY(0%);
		@include box-shadow(1px 1px 1px 0 fade-out(black, 0.9));
	}
}

body {

	&::before, &::after {
		z-index: 99;
		left: -9999px;
		display: block;
		position: fixed;
		@include opacity(0);
		@include transition(opacity 500ms, left 0s ease 500ms);
	}

	&::after {
		top: 50%;
		width: 230px;
		margin: -171px 0 0 -115px;
		padding-top: 243px;
		content: 'Preparing Auction...';
		text-align: center;
		background: url(../icon/largetile.png) no-repeat center top/contain transparent;
	}

	&::before {
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: white;
	}

	&.loading::before {
		left: 0;
	}

	&.loading::after {
		left: 50%;
	}

	&.loading::before, &.loading::after {
		@include opacity(1);
		@include transition(opacity 500ms, left 0s);

	}
}

#content {
	height: 100vh;
	position: relative;
}

$size-aside-width: 16em;

aside {
	top: 0;
	left: 0;
	width: $size-aside-width;
	height: 100%;
	position: absolute;
	z-index: 2;
	padding: 2em;
	background-color: white;

	h1 {
		padding-bottom: 1em;
	}

	.user {
		$size-avatar: 2em;
		display: block;
		margin-top: 1em;
		position: relative;
		.avatar {
			&[data-toggle=true] { cursor: pointer; }
			@include avatar($size-avatar);
		}
		h3 {
			text-transform: capitalize;
			line-height: $size-avatar;
			margin-left: $size-avatar + 0.5em;
			@include text-overflow-ellipses;
			display: block;
		}
	}

}

section {

	z-index: 1;
	height: 100%;
	overflow: auto;
	position: relative;
	background-color: $color-base;
	padding: 2em 2em 2em ($size-aside-width + 2em);

	header {
		color: white;
		padding-bottom: 1em;
		.rent {
			float: right;
			margin-left: 1em;
			font-size: 1.2em;
			line-height: 2 * $size-unit;
			color: fade-out(white, 0.2);
			strong {
				color: fade-out(white, 0);
				&[contenteditable=true]:focus {
					color: fade-out(white, 0.2);
				}
			}
		}
	}

	.rooms {
		overflow: hidden;
	}

	.room {

		$size-room: 13em;
		display: block;
		float: left;
		position: relative;
		width: $size-room;
		background-color: white;
		padding: 1em;
		@include border-radius($size-unit);
		margin: 1em 1em 0 0;

		.delete {
			top: 0.35em;
			right: 0.7em;
			font-size: 1.5em;
			position: absolute;
		}

		.bids {

			min-height: 6em;

			.bid {

				$size-avatar: 2em;
				display: block;
				padding-top: 1em;
				position: relative;

				.avatar {
					@include avatar($size-avatar);
					top: 1em;
				}

				&:first-child {
					span {
						font-weight: 800;
						color: $color-inverse;
					}
				}

				span {
					line-height: $size-avatar;
					margin-left: $size-avatar + 0.5em;
					@include text-overflow-ellipses;
					display: block;
				}
			}

		}

		form {
			padding-top: $size-unit;
			display: block;
		}

		input, button {
			display: inline-block;
		}

		input {
			width: 60%;
			border: none 0;
			@include opacity(0.8);
			&:focus {
				@include opacity(1);
			}
		}

		button {
			color: $color-inverse;
			margin-left: 0.5em;
			padding: 0.5em;
			width: 35%;
			&:focus, &:hover {
				color: white;
				background-color: $color-inverse;
				@include opacity(1);
			}
		}

		.price-container {
			top: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(255,255,255,0.8);
			border-radius: 20px;
			text-align: center;
			left: 0;
			@include opacity(1);
			@include transition(opacity 200ms, left 0s);
			.avatar {
				$avatar-size: 9em;
				@include avatar($avatar-size);
				top: 50%;
				left: 50%;
				margin: $avatar-size/-2;
			}
			.price, .value {
				position: relative;
				top: 50%;
			}
			.value {
				&.user {
					color: white;
					@include text-shadow(1px 1px 1px fade-out($color-copy, 0.2));
				}
				width: 3.5em;
				font-weight: 800;
				font-size: 2.5em;
				color: $color-copy;
				margin: -0.6em auto 0;
				@include text-overflow-ellipses;
			}
		}

		&:hover .price-container, :focus ~ .price-container {
			left: -9999px;
			@include opacity(0);
			@include transition(opacity 200ms, left 0s ease 200ms);
		}

	}

	.adder {
		margin: 1em;
		display: inline-block;
		color: fade-out(white, 0.2);
		&:hover {
			color: fade-out(white, 0);
		}
	}

}

