<head>
	
	<meta charset="utf-8">
	<title>{{ site.data.copy.title }} | {{ page.title }}</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="{{ site.data.copy.description }}">
	<meta name="author" content="{{ site.data.copy.author }}">
	<meta name="viewport"    content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

	<link rel="shortcut icon" href="{{ rel }}icon/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ rel }}icon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ rel }}icon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ rel }}icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ rel }}icon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ rel }}icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ rel }}icon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ rel }}icon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ rel }}icon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ rel }}icon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{ rel }}icon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ rel }}icon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ rel }}icon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ rel }}icon/android-chrome-192x192.png" sizes="192x192">
	<meta name="msapplication-square70x70logo" content="{{ rel }}icon/smalltile.png" />
	<meta name="msapplication-square150x150logo" content="{{ rel }}icon/mediumtile.png" />
	<meta name="msapplication-wide310x150logo" content="{{ rel }}icon/widetile.png" />
	<meta name="msapplication-square310x310logo" content="{{ rel }}icon/largetile.png" />


	<link href="{{ rel }}css/all.css" rel="stylesheet" media="all" type="text/css">
	{% if page.css %}
	<link href="{{ rel }}css/{{ page.css }}.css" rel="stylesheet">
	{% endif %}
</head>