<head>
	<meta charset="utf-8">
	<title>{{ site.data.copy.title }} | {{ page.title }}</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="{{ site.data.copy.description }}">
	<meta name="author" content="{{ site.data.copy.author }}">
	<meta name="viewport"    content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
	<link rel="shortcut icon" href="{{rel}}/img/favicon.ico">
	<link href="{{ rel }}css/all.css" rel="stylesheet" media="all" type="text/css">
	{% if page.css %}
	<link href="{{ rel }}css/{{ page.css }}.css" rel="stylesheet">
	{% endif %}
</head>